.details {
  color: black;
  max-height: 75vh;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.details__readme {
  background-color: var(--primary-text-color);
  padding: 20px;
}

.details__info {
  min-width: 300px;
  margin: 20px;
}

.details__name {
  font-family: "Roboto Slab", sans-serif;
  font-size: 26px;
  line-height: 39px;
  font-weight: 700;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.details__description {
  width: 100%;
  margin: 8px 0 20px 0;
  padding: 0;
}

.details__updated {
  margin: 0 0 20px;
}

.details__language {
  background-color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
  width: fit-content;
  border-radius: 7px;
  padding: 0 20px 0 20px;
  font-size: 18px;
  /* margin: 0 0 20px; */
}

.details__owner {
}
