.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal__content {
  background: white;
  /* padding: 2rem; */
  border-radius: 8px;
  position: relative;
  min-width: 300px;
  max-width: 70vw;
  max-height: 90vh;
  overflow-y: auto;
}
